.page[b-2ppgf111ss] {
    position: relative;
    display: flex;
    flex-direction: column;
}

    .top-row[b-2ppgf111ss]  a, .top-row .btn-link[b-2ppgf111ss] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-2ppgf111ss] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 767.98px) {
    .top-row:not(.auth)[b-2ppgf111ss] {
        display: none;
    }

    .top-row.auth[b-2ppgf111ss] {
        justify-content: space-between;
    }

    .top-row a[b-2ppgf111ss], .top-row .btn-link[b-2ppgf111ss] {
        margin-left: 0;
    }
}

@media (min-width: 768px) {
    .page[b-2ppgf111ss] {
        flex-direction: row;
    }

    .sidebar[b-2ppgf111ss] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-2ppgf111ss] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .main > div[b-2ppgf111ss] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}